#quiz-manager {
    background-color: #036B69;

    position: absolute;
    top: 25%;
    right: 25%;
    bottom: 10%;
    left: 25%;
    overflow: auto;

    border-radius: 15px;
}

h1 {
    text-align: center;
}

.centered-button {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    width: 50%;
    font-size: 16px;
    text-align: center;
}